    body{
        margin: 0px;
    }

    nav{
        background: #696b6a;
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a{
        color: #060606;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        display: block;
        margin: 0px calc(42px/2);

        font-family: "PermanentMarker-Regular";
        src: url(PermanentMarker-Regular.ttf)
        
    }

    nav a::before{
        content:"";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #0d0606;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top:2px;
    }

    h1{
        font-size: 35px;
        text-align: center;
    }

    h2 {
        position: relative;
        top: -200px;
        margin-left: 30px;
        font-size: 25px;
       }

    ul {
        position: relative;
        top: -200px;
        font-size: 20px;
    } 
    
   h3{
    position: relative;
    margin-left: 1300px;
    top: -200px;
    font-size: 25px;
   }

   p{
    position: relative;
    font-size: 17px;
    margin-left: 750px;
    margin-top: -10px;
   }

   h4{
    margin-left: 30px;
   }

   ol{
    margin-left: 0px;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 70px;
   }

   u{
    margin-left: 350px;
    font-size: 20px;
   }

   